/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
.UniviaProRegular-Italic { 
	font-family: UniviaProRegular-Italic;
	font-weight: normal;
	font-style: normal;
}
.UniviaProRegular { 
	font-family: UniviaProRegular;
	font-weight: normal;
	font-style: normal;
}
.UniviaProMedium-Italic { 
	font-family: UniviaProMedium-Italic;
	font-weight: normal;
	font-style: normal;
}
.UniviaPro-Medium { 
	font-family: UniviaPro-Medium;
	font-weight: normal;
	font-style: normal;
}
.UniviaProBook { 
	font-family: UniviaProBook;
	font-weight: normal;
	font-style: normal;
}
.UniviaPro-Light { 
	font-family: UniviaPro-Light;
	font-weight: normal;
	font-style: normal;
}
.UniviaProLight-Italic { 
	font-family: UniviaProLight-Italic;
	font-weight: normal;
	font-style: normal;
}
.UniviaProBook-Italic { 
	font-family: UniviaProBook-Italic;
	font-weight: normal;
	font-style: normal;
}
body {
    font-family: UniviaProBook;
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-family: UniviaPro-Medium;
    font-weight: normal;
    font-style: normal;
}
h2 {
    font-family: UniviaPro-Medium;
    font-weight: normal;
    font-style: normal;
}
