//Custom Code
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.alert-notice {
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}

.alert-alert {
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}