// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* User Profil Styles */
.job-title-icon {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #2e6da4;
    background-color: #337ab7;
    color: #fff;
}

.well.profile-block {
    color: #fff;
    h3 {
        margin-top: 0;
    }
}

.well.profile-description {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.well.profile-contact {
    background-color: #5bc0de;
    border-color: #46b8da;
}

.user-avatar {
    border-radius: 5%;
    -webkit-box-shadow: 0px 10px 5px -5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 10px 5px -5px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 10px 5px -5px rgba(50, 50, 50, 0.75);
}

/* Community Index Styles */
.user-avatar-community {
    border-radius: 5%;
}

.well.white-bg {
    background-color: fff;
}